.review {
  color: #173753;
}

.title {
  display: flex;
  gap: 10px;
}

.score {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0276db;
  color: white;
}

.curScore {
  font-weight: bold;
}

.headline {
  font-size: 18px;
  color: #173753;
}

.channel {
  display: inline-block;
}

.line {
  border-bottom: 1px solid #e1e4e7;
  margin: 30px 0 30px;
}

.feedback {
  display: flex;
  gap: 8px;
  color: #173753;
}

.positiveFeedback {
  margin: 10px 0;
}

.negativeFeedback {
  margin: 10px 0;
}

.author {
  font-weight: bold;
  font-size: 14px;
  margin: 7px 0;
}

.publishedAt {
  color: #5e7488;
  font-size: 14px;
  margin: 0;
}
