.container {
  height: 500px;
  border-radius: 0 0 100% 100% / 0 0 75px 75px;
  background-position: center;
  background-size: 100%, 100%, contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 75%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('./images/background.png');
}

@media screen and (max-width: 600px) {
  .container {
    height: 250px;
  }
}

.layout {
  position: relative;
}
